.header{

height: 55px;
display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
background-color: #fff;
top:0;
left:0;
right: 0;
border : 1px solid #cccccc;
z-index: 100;

}
.header-left-section{
width: 200px;

display: flex;
justify-content: space-between;
align-items: center;


}

.handburger-icon {
    height: 20px;
    display: flex;
    width:50px;
    }

.youtube-logo {
    display: flex;
    flex:1;
    height: 20px;
    
}
.header-middle-section{
display: flex;
flex: 1;

margin-left: 70px;
margin-right: 35px;
max-width: 470px;

align-items: center;
}
.search-bar{
    height: 40px;
        flex: 1;
        width: 0;
        min-width: 0;
        padding-left: 12px;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
            border: 1px solid #cccccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 0px 1px 2px #eeeeee;
        
}
.search-bar::placeholder{
    font-size: 16px;
   
}
.icon-search-btn{
    
height: 43px;
    width: 64px;
    border: 1px solid #cccccc;
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f7f7f7;
    cursor: pointer;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-search{
    height: 20px;
}
.icon-search-voice-btn{
   margin-left: 10px;
   height: 40px;
   width: 40px;
   background-color: rgb(240, 240,240);
   border: 1px solid rgb(192, 192, 192);
   border:none;
   border-radius:20px;
   cursor: pointer;
}
.icon-search-voice{
    height: 25px;
}

.header-right-section{
    display: flex;
    align-items: center;
    width: 182px;
    justify-content: space-between;
    margin-right: 24px;
    margin-left: 29px;
    flex-shrink: 0;

}
.icon-upload{
    height: 24px;
    cursor: pointer;
}
.icon-youtube-app {
    height: 24px;
    cursor: pointer;
}
.icon-notification {
    height: 24px;
    cursor: pointer;
}
.current-profile-pic {
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
    
}
.icon-search-btn,
.icon-search-voice-btn,
.upload-tooltip,.youtube-apps,
.youtube-notification-bell{
position: relative;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;

}
.icon-search-btn .tooltip ,
.icon-search-voice-btn .tooltip,
.upload-tooltip .tooltip,
.youtube-apps .tooltip,
.youtube-notification-bell .tooltip
{
    border-radius: 2px;
    position:absolute;
    background-color: gray;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 10px;
    opacity: 0;
    bottom: -30px;
    pointer-events: none;
    font-size: 12px;
    transform: opacity 0.15s;
    white-space: nowrap;
}
.icon-search-btn:hover .tooltip, 
.icon-search-voice-btn:hover .tooltip,
.upload-tooltip:hover .tooltip,
.youtube-apps:hover .tooltip,
.youtube-notification-bell:hover .tooltip
{
    opacity: 1;
}